.app {
    max-width: 950px;
    background: #ddd;
    margin: 10px auto;
    padding: 25px;
}

.header {
    background-color: #6aa84f;
    margin-bottom: 25px;
    height: 150px;
    /* pointer-events: none; */
}

.navigation {
    background-color: #6fa8dc;
    display: inline-block;
    /* width: 25%; */
    flex: 1;
    height: 450px;
}

.main {
    display: inline-block;
    background-color: #e06666;
    /* width: 60%; */
    flex: 4;
    height: 550px;
    padding: 25px;
}

.sub-content {
    background-color: #ffd966;
    height: 350px;
    margin-bottom: 15px;
    width: 30%;
    display: inline-block;
}

.advertisement {
    background-color: #b4a7d6;
    width: 100%;
    height: 150px;
}

.row {
    display: flex;
    justify-content: space-between;
    /* justify-content: flex-start; */
    gap: 20px;
    width: 100%;
}
